<form action="/process_login" method="post" class="form-control">
		<div><input class="form-control" type="text" name="email" placeholder="first name" required></div>
		<div><input class="form-control" type="password" name="password" placeholder="password" required></div>
		<button class= "form-control btn btn-primary" type="submit">Login</button>
 </form>
