<div>
	<form action="/charge" method="post" class="">
       	<span>Amount: $5.00</span>
  	</form>
  	<form class="" action="/become_pro" method="POST">
        <button type="submit" name="button" class="btn btn-danger">Wana be a Pro</button>
    </form>
</div>
