<form action="/item/create" method="POST" enctype="multipart/form-data">
	<table align = "center">
		<th scope="2">
			What do you want to rent out
		</th>
		<body>
			<div>
			<tr><td>Title: </td>
				<td><input type="text" name="name" required></td>
			</tr></div>

			<div>
			<tr><td colspan = "2">Descripiton:</td></tr>
				<td colspan = "2"><textarea name="descripiton" rows="10" cols="60" required></textarea></td>
			</tr></div>

			<tr><td>Cost per Day: </td>
				<td><input type="number" name="cost_per_day" step="0.01" required></td>
			</tr></div>

			<tr><td>Cost per Week: </td>
				<td><input type="number" name="cost_per_week" step="0.01" required></td>
			</tr></div>

			 <div>
			 <tr><td><input type="submit" name="" value="Post Your Item" ></td></tr>
		</body>
	</table>
</form> 
