<div class="row">
    <div class="col-md-4">
      <h2> <%= current_user.email %> </h2>
      <% if current_user.admin? %>
      	<p> Administrator </p>
      <% elsif current_user.pro? %>
      	<p> Pro User </p>
      <% else %>
      	<p> Free User </p>
		<% end %>

      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
